.balance {
    .balance_header {
        display: flex;
        justify-content: space-around;

        .balance_header_item {
            background: white;
            padding: 15px;
            border-radius: 10px;
            text-align: center;

            p {
                color: #9100ff;
                font-size: 13px;
                margin-bottom: 3px;
            }

            span {
                color: #9100ff;
                font-size: 13px;
            }
        }
    }
    button {
        border-radius: 50px;
        font-size: 14px;
        width: 100%;
        background-color:white;
        border: 1px solid  #9100ff;
        color: #9100ff;
        padding: 5px 0;
        outline: 0;
        cursor: pointer;
        transition: 0.2s ease-in-out;
        &:hover{
            color:white;
            background-color:#9100ff;
        }
    }
    .total_earnings {
        background: white;
        border-radius: 10px;
        padding: 10px;
        text-align: center;
        margin-top: 20px;

        p {
            color: #9100ff;
            font-size: 13px;
            margin-bottom: 3px;
        }

        span {
            color: #9100ff;
            font-size: 13px;
        }
    }

    .public_key_private_key {
        margin-top: 25px;
        padding: 10px 20px;

        .public_key {
            margin-bottom: 8px;

            p {
                font-size: 13px;
                margin-bottom: 3px;

                span {
                    margin-left: 20px;
                    font-size: 13px;
                }
            }


        }

        .private_key {
            p {
                font-size: 13px;
                margin-bottom: 3px;

                span {
                    margin-left: 20px;
                    font-size: 13px;
                }
            }

        }
    }

    .money_transfer {
        background: white;
        padding: 10px;
        border-radius: 10px;
        margin-top: 20px;

        .money_transfer_header {
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid gainsboro;
            padding: 0px 10px 8px 10px;

            p {
                font-size: 14px;
                color: #9100ff;
                margin-bottom: 0px;
            }

            img {
                width: 15px;
                width: 20px;
                height: 20px;
                cursor: pointer;
            }

            .money_transfer_header_minus {
                display: block;
            }

            .money_transfer_header_plus {
                display: none;
            }
        }

        .money_transfer_footer {
            display: flex;
            justify-content: space-between;

            .money_transfer_footer_left {
                width: 40%;

                .money_transfer_footer_left_item {
                    margin-top: 5px;

                    label {
                        font-size: 14px;
                        margin-left: 10px;
                    }

                    select {
                        border-radius: 50px;
                        font-size: 12px;
                        background-color: white !important;
                        width: 100%;
                        padding: 5px 10px;
                        color:#495057;
                        border: 1px solid #ced4da;
                    }

                    input {
                        border-radius: 50px;
                        font-size: 12px;
                    }
                }
            }

            .money_transfer_footer_right {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 40%;

                .money_transfer_footer_right_item {
                    margin-top: 5px;

                    label {
                        font-size: 14px;
                        margin-left: 10px;
                    }

                    input {
                        border-radius: 50px;
                        font-size: 12px;
                    }

                  
                }
            }
        }
    }

    .add_fund {
        background: #fff;
        padding: 10px;
        border-radius: 10px;
        margin-top: 20px;

        .add_fund_header {
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid gainsboro;
            padding: 0px 10px 8px 10px;

            p {
                font-size: 14px;
                color: #9100ff;
                margin-bottom: 0px;
            }

            img {
                width: 15px;
                width: 20px;
                height: 20px;
                cursor: pointer;
            }

            .add_fund_header_minus {
                display: block;
            }

            .add_fund_header_plus {
                display: none;
            }
        }

        .add_fund_footer {

            // display: flex;
            // justify-content: space-between;
            .add_fund_footer_top {
                padding: 10px 10px;

                p {
                    font-size: 13px;
                    margin-bottom: 0px;
                }
            }

            .add_fund_footer_bottom {
                display: flex;
                justify-content: space-between;
                align-items: flex-end;

                .add_fund_footer_bottom_left {
                    margin-top: 5px;
                    width: 40%;

                    label {
                        font-size: 14px;
                        margin-left: 10px;
                    }

                    input {
                        border-radius: 50px;
                        font-size: 12px;
                    }
                }

                .add_fund_footer_bottom_right {
                    margin-top: 5px;
                    width: 40%;

                 
                }
            }
        }
    }

    .with_drow {
        background: #fff;
        padding: 10px;
        border-radius: 10px;
        margin-top: 20px;

        .with_drow_header {
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid gainsboro;
            padding: 0px 10px 8px 10px;

            p {
                font-size: 14px;
                color: #9100ff;
                margin-bottom: 0px;
            }

            img {
                width: 15px;
                width: 20px;
                height: 20px;
                cursor: pointer;
            }

            .with_drow_header_minus {
                display: block;
            }

            .with_drow_header_plus {
                display: none;
            }
        }

        .with_drow_footer {

            // display: flex;
            // justify-content: space-between;
            .with_drow_footer_top {
                padding: 10px 10px;

                p {
                    font-size: 13px;
                    margin-bottom: 0px;
                }
            }

            .with_drow_footer_bottom {
                display: flex;
                justify-content: space-between;
                align-items: flex-end;

                .with_drow_footer_bottom_left {
                    margin-top: 5px;
                    width: 40%;

                    label {
                        font-size: 14px;
                        margin-left: 10px;
                    }

                    input {
                        border-radius: 50px;
                        font-size: 12px;
                    }
                }

                .with_drow_footer_bottom_right {
                    margin-top: 5px;
                    width: 40%;

                   
                }
            }
        }
    }

    .change_point {
        background: #fff;
        padding: 10px;
        border-radius: 10px;
        margin-top: 20px;

        .change_point_header {
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid gainsboro;
            padding: 0px 10px 8px 10px;

            p {
                font-size: 14px;
                color: #9100ff;
                margin-bottom: 0px;
            }

            img {
                width: 15px;
                width: 20px;
                height: 20px;
                cursor: pointer;
            }

            .change_point_header_minus {
                display: block;
            }

            .change_point_header_plus {
                display: none;
            }
        }

        .change_point_footer {
            .change_point_footer_top{
                font-size: 13px;
                padding: 10px 10px;
            }
            .change_point_footer_bottom{
                display: flex;
                justify-content: space-between;
                .convert_from{
                    position: relative;
                    display: flex;
                    width: 40%;
                    input {
                        border-radius: 50px;
                        font-size: 12px;
                    }
                    select {
                        position: absolute;
                        width: 50% !important;
                        top: 1px;
                        right: 0px;
                        border-radius: 50px;
                        font-size: 12px;
                        background-color: white !important;
                        width: 100%;
                        padding: 5px 10px;
                        color:#495057;
                        border: 1px solid #ced4da;
                    }
                }
                .convert_to{
                    position: relative;
                    display: flex;
                    width: 40%;
                    input {
                        border-radius: 50px;
                        font-size: 12px;
                    }
                    select {
                        position: absolute;
                        width: 50% !important;
                        top: 1px;
                        right: 0px;
                        border-radius: 50px;
                        font-size: 12px;
                        background-color: white !important;
                        width: 100%;
                        padding: 5px 10px;
                        color:#495057;
                        border: 1px solid #ced4da;
                    }
                }
            }
            .change_point_footer_btn {
                margin-top: 20px !important;
                display: flex;
                justify-content: flex-end;
                margin-top: 5px;
                button{
                    width: 40%;
                }
            }
            
        }
    }


    .statistic {
        background: #fff;
        padding: 10px;
        border-radius: 10px;
        margin-top: 20px;
        margin-bottom: 50px;
        .statistic_header {
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid gainsboro;
            padding: 0px 10px 8px 10px;

            p {
                font-size: 14px;
                color: #9100ff;
                margin-bottom: 0px;
            }

            img {
                width: 15px;
                width: 20px;
                height: 20px;
                cursor: pointer;
            }

            .statistic_header_minus {
                display: block;
            }

            .statistic_header_plus {
                display: none;
            }
        }

        .statistic_footer {
            .statistic_footer_top{
                font-size: 13px;
                padding: 10px 10px;
            }
            .statistic_footer_bottom{
                display: flex;
                justify-content: space-between;
                .statistic_from{
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    label{
                        font-size: 14px;
                        margin-left: 10px;
                    }
                    input {
                        top: 1px;
                        right: 0px;
                        border-radius: 50px;
                        font-size: 12px;
                        background-color: white !important;
                        width: 100%;
                        padding: 5px 10px;
                        color:#495057;
                        border: 1px solid #ced4da;
                        &:focus{
                            outline: none;
                        }
                    }
                }
                .statistic_to{
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    label{
                        font-size: 14px;
                        margin-left: 10px;
                    }
                    input {
                        top: 1px;
                        right: 0px;
                        border-radius: 50px;
                        font-size: 12px;
                        background-color: white !important;
                        width: 100%;
                        padding: 5px 10px;
                        color:#495057;
                        border: 1px solid #ced4da;
                        &:focus{
                            outline: none;
                        }
                    }
                }
                .statistic_transaction_type{
                    position: relative;
                    display: flex;
                    width: 33%;
                    flex-direction: column;
                    label{
                        font-size: 14px;
                        margin-left: 10px;
                    }
                    select {
                        top: 1px;
                        right: 0px;
                        border-radius: 50px;
                        font-size: 12px;
                        background-color: white !important;
                        width: 100%;
                        padding: 5px 10px;
                        color:#495057;
                        border: 1px solid #ced4da;
                    }
                }
            }
        }
        .statistic_table{
            margin: 25px 0 0 5px;
            .subscribers_content{
                table{
                    width: 100%;
                    tr{
                        th:first-child{
                            padding: 10px 80px 10px 0px;
                            font-size: 14px;
                        }
                        th{
                            border-bottom: 1px solid #dfdfdf;
                            color: gray;
                            padding: 10px 40px 10px 0px;
                            font-size: 14px;
                            font-weight: 500;
                        }
                        td{
                            border-bottom: 1px solid #dfdfdf;
                            padding: 10px 40px 10px 0px;
                            font-size: 14px;
                            color: gray;
                        }
                    }
                }
            }
        }
    }
}