@keyframes itemblock {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
        display: block;
    }
}

/* popup invite friends start */
.popup-invite-friends {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: $index-popup;
    background-color: $popup-background;
    overflow: hidden;

    .popup-friends-content {
        overflow: hidden;
        width: 22%;
        background-color: $white;
        border-radius: 10px;
        padding: 20px;
        display: table;
        text-align: center;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);

        .popup-friends-cancel {
            position: absolute;
            right: 5px;
            top: 5px;
            padding: 0;
            margin: 0;
            cursor: pointer;
            border: none;
            background-color: transparent;
            outline: none;
        }

        .popup-friends-title {
            font-size: 22px;
            font-weight: bold;
        }

        .popup-friends-input {
            background-color: $grey-edge-F5F5F5;
            border: none;
            border-radius: 13px;
            padding: 4px 20px;
            outline: none;
            width: 100%;
            font-size: 13px;
            color: $dark-333333;
            margin-top: 10px;
        }

        .popup-friends-info {
            font-size: 12px;
            display: block;
            margin-top: 3px;
            margin-bottom: 10px;
        }

        .popup-friends-share-content {
            margin: 0;
            padding: 0;

            .popup-friends-share-item {
                list-style-type: none;
                display: inline-block;
            }
        }

    }
}

/* popup invite friends end */

.icon-like::before {
    content: url(../../dist/img/svg/like.svg);
    display: inline-block;
    transform: scale(0.7);
}

.icon-balance::before {
    content: url(../../dist/img/svg/balance.svg);
    display: inline-block;
    transform: scale(0.7);
}

.icon-notification::before {
    content: url(../../dist/img/svg/notification.svg);
    display: inline-block;
    transform: scale(0.7);
}

.icon-status::before {
    content: url(../../dist/img/svg/status.svg);
    display: inline-block;
    transform: scale(0.7);
}

.icon-friends::before {
    content: url(../../dist/img/svg/frend-request.svg);
    display: inline-block;
    transform: scale(0.7);
}

.icon-message-box::before {
    content: url(../../dist/img/svg/message-inbox.svg);
    display: inline-block;
    transform: scale(0.7);
}


body {
    background-color: $white-fon-f9f9f9;

}


/* messagebox start */
.msgboxmini {
    height: 45px !important;
    width: 250px !important;
}

.bf-btn {
    text-decoration: none;
    font-family: $font-sans;
    font-weight: bold;
    border: 1px solid transparent;
    border-radius: 27px;
}

.img-cover {
    background-size: cover;
    background-position: center;
}

#msgbox {
    position: absolute;
    z-index: $index-minipad;
    background-color: $white;
    border: 1px solid $main-light-a59ac2;
    border-radius: 10px;
    overflow: hidden;
    width: 350px;
    height: 360px;
    bottom: 0;
    right: 25%;

    #msgboxdrag {
        padding: 10px;
        cursor: move;
        z-index: 10;
        background-color: $main-color-9100ff;
        color: $white;

        .msgbox-name {

            display: inline-block;

            a {
                text-transform: capitalize;
                font-weight: bold;
                text-decoration: none;
                color: #f1f1f1;
            }
        }

        .msgbox-exit {
            float: right;
            margin-right: 10px;
            margin-top: -3px;
            cursor: pointer;

            svg {
                width: 15px;
                height: 15px;
                display: inline-flex;
                vertical-align: auto;

                path {
                    fill: $white;
                }
            }

            i {
                cursor: pointer;
                width: 15px;
                height: 15px;
                font-size: 12px;
                display: inline-flex;

            }
        }
    }

    .msgbox-msg {
        width: 100%;
        height: 200px;
        ;
        box-sizing: border-box;
        overflow-y: scroll;
        padding: 10px;

        .msg-box {
            position: relative;
            display: table;
            width: 100%;
            padding-top: 10px;
            padding-bottom: 15px;

            .msg-user-image {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                float: left;
                box-sizing: border-box;
                margin-right: 15px;
            }

            p {
                box-sizing: border-box;
                overflow: hidden;
                color: #999999;
                font-size: 14px;
            }

            .msg-image-preview {
                width: 100px;
                height: 150px;
                float: left;
                overflow: hidden;
                box-sizing: border-box;
                border: 1px solid $main-light-a59ac2;
                border-radius: 10px;
                cursor: pointer;
            }

            .msg-link a {
                color: $grey1;
            }
        }

    }

    .msgbox-send {
        display: table;
        bottom: 0;
        border-top: 1px solid #d3d3d3;
        background-color: #fff;
        ;
        width: 100%;
        padding: 10px 20px;

        .msgbox-input {
            width: 100%;

            input {
                width: 100%;
                border: 1px solid #d3d3d3;
                padding: 4px 5px;
                border-radius: 20px;
                padding-left: 20px;
                overflow: hidden;
                color: #999999;

                &::placeholder {
                    color: #d3d3d3;
                }

                &:focus {

                    outline: none;
                }
            }
        }

        .msg-box-buttons {
            margin: 20px 0;

            .msg-btn-other {
                float: left;

                svg {
                    margin-right: 10px;
                    width: 20px;

                    path {
                        fill: #9100ff;
                        stroke: #9100ff;

                    }
                }

            }

            .msg-btn-send {
                width: 90px;
                height: 30px;
                background-color: #9100ff;
                color: white;
                border: none;
                border-radius: 27px;
                float: right;

                &:focus {
                    outline: none;
                    ;
                }
            }
        }
    }
}

/* messagebox end */


/* home page start */
.home-page-content {
    margin-top: 55px;
    display: table;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
}

/* home page end */

/* my profile  start */

.my-profile-content {
    position: relative;
    display: table;
    width: 100%;
    background-color: white;
    margin-top: 130px;
    border-radius: 10px;
    border: 1px solid $grrey2-EFEEF2;
    box-shadow: $box-sahdow1;
    padding-top: 10px;

    .profile-top {
        .profile-image-big {
            width: 160px;
            height: 160px;
            border-radius: 50%;
            position: absolute;
            top: -60px;
            left: 20px;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
            overflow: hidden;
            cursor: pointer;
            .profile-image-big-overlay{
                opacity: 0;
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                background-color: rgba(0, 0, 0, 0.4);
                transition: 0.2s ease-in-out;
                p{
                   text-align: center;
                   line-height: 160px;
                   color: white;
                   text-transform: uppercase;
                }
            }
            &:hover .profile-image-big-overlay{
                opacity: 1;
            }
        }

        .prfile-information {
            margin-left: 200px;

            .profile-info-top {
                color: $dark-2b2b2b;

                h2 {
                    font-size: 20px;
                    padding: 0;
                    margin: 0;
                }

                p {
                    font-size: 14px;
                }
            }

            .profile-follow-info {
                p {
                    display: inline-block;
                    color: $grey1;
                    font-size: 16px;
                }
            }
        }

        .profile-panel-tab {
            border-top: 1px solid $grrey2-EFEEF2;
            padding: 10px;
            display: table;
            width: 100%;

            .profile-panel-left {
                float: left;

                button {
                    border: none;
                    background-color: transparent;
                    padding: 1px 10px;
                    color: $grey1;
                    outline: none;
                    cursor: pointer;
                }

                .active-button {
                    color: $main-color-9100ff;
                }
            }

            .profile-panel-right {
                float: right;

                button {
                    outline: none;
                    cursor: pointer;
                    padding: 2px 10px;
                    background-color: white;
                    border: 1px solid $main-color-9100ff;
                    border-radius: 14px;
                    font-size: 14px;
                    color: $main-color-9100ff;
                }
            }
        }
    }
}
.profileContent{
    display: none;
}
.profileContentActive{
    display: table;
    width: 100%;
}
.profile-followers-tab-content {
    display: table;
    width: 100%;
    background-color: white;
    border: 1px solid $grrey2-EFEEF2;
    box-shadow: $box-sahdow1;
    margin-top: 20px;
    border-radius: 4px;
    overflow: hidden;
    padding: 10px 2% 0px 2%;

    h4 {
        font-size: 20px;
        display: block;

    }

    a.more-button {
        text-align: center;
        display: block;
        color: $grey1;
        text-decoration: none;
        padding: 10px 0;
    }
   
    .profile-requests-item {
        text-align: left;
        list-style-type: none;
        padding: 10px 0;
        border-bottom: 1px solid $grrey2-EFEEF2;

        &:hover {
            background-color: $grrey2-EFEEF2;
            border-radius: 5px;
        }

        .popup-request-item-img-content {
            float: left;
            width: 8%;

            .popup-request-item-img {
                margin: 0 auto;
                width: 40px;
                height: 40px;
                border-radius: 50%;
            }
        }

        .popup-request-item-content {
            padding-left: 10px;
            float: left;
            width: 50%;
            font-size: 12px;



            p {
                margin: 0;
            }
        }

        .popup-request-button-content {
            float: right;
            text-align: right;
            width: 42%;
            margin-top: 5px;

            button {
                font-size: 12px;
                display: inline-block;
                text-align: center;
                border: 1px solid $main-color-9100ff;
                padding: 3px 20px;
                margin: 2px;
                outline: none;
                cursor: pointer;

                border-radius: 15px;
            }

            .popup-btn-request-accept {
                background-color: $main-color-9100ff;
                color: white;
            }

            .popup-btn-request-delete {
                background-color: transparent;
                color: $main-color-9100ff;
            }
            
        }

    }
    .profile-requests-item:last-child{
        border-color: transparent;
    }
    

}
.profile-follow-list-content{
    display: table;
    width: 100%;
    margin-top: 20px;
    padding: 10px 3% 10px 3%;
    .profile-follow-list-buttons{
        padding: 10px 0;
        button{
            background-color: transparent;
            border: none;
            color: $grey1;
            outline: none;
            cursor: pointer;
        }
        button.tab-list-active{
            border-bottom: 1px solid $main-color-9100ff;
            color: $main-color-9100ff;
        }
    }
    .profile-follow-list-tab{
        display: none;
        .profile-requests-item{
            overflow: hidden;
            box-sizing: border-box;
            width: 50%;
            height: 60px;
            float: left;
            margin: 15px 0;
            .popup-request-item-img-content {
                float: left;
                width: 13%;

                .popup-request-item-img {
                    margin: 0 auto;
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                }
            }
            .popup-request-item-content {
                padding-left: 10px;
                float: left;
                width: 55%;
                font-size: 12px;
                


                p {
                    margin: 0;
                }
            }

            .popup-request-button-content {
                float: right;
                width: 24%;
                margin: 0 auto;
                text-align: center;
                button {
                    font-size: 12px;
                    display: inline-block;
                    border: 1px solid $main-color-9100ff;
                    background-color: $main-color-9100ff;
                    color: white;
                    padding: 3px 10px;
                    outline: none;
                    cursor: pointer;
                    border-radius: 15px;
                }
                a{
                    text-decoration: underline;
                    color: $main-color-9100ff;
                    display: inline-block;
                    font-size: 12px;
                    padding: 0 10px;
                }
                p{
                    font-size: 12px;
                    padding: 3px 10px;
                    display: inline-block;
                    
                }
               

                
            }
        }
    }
    .profile-follow-list-tab-active{
        display: block;
    }
    .profile-load-more-btn{
        display: block;
        width: 100%;
        color: $grey1;
        border: none;
        padding: 10px 0;
        outline: none;
        background-color: transparent;
        cursor: pointer;
        &:hover{
            background-color: white;
            color: $main-color-9100ff;
            box-shadow: $box-sahdow1;
            border-radius: 5px;
        }
    }
}
.profile-images-tab{
  
    margin-top: 15px;
    .profile-images-item{
        overflow: hidden;
        width: 33.333%;
        box-sizing: border-box;
        padding: 4px;
        display: inline-flex;
        .profile-images-item-img{
            overflow: hidden;
            width: 100%;
            border-radius: 10px;
            height: 180px;
            
            .profile-images-item-overlay{
                position: relative;
                display: none;
               
                height: 100%;
                .profile-images-full-btn{
                    background-color: transparent;
                    border: none;
                    outline: none;
                    cursor: pointer;
                    position: absolute;
                    right: 0;
                    top: 0;
                    width: 40px;
                    height: 40px;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
                .profile-images-overlay-info{
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    height: 40px;
                    // backdrop-filter: blur(10px);
                    background-color: rgba(255, 255, 255, 0.5);
                    // border-bottom-left-radius: 9px;
                    // border-bottom-right-radius: 9px;
                    .profile-images-overlay-info-left{
                        float: left;
                        p{
                            
                            display: inline-flex;
                            height: 40px;
                            line-height: 40px;
                            margin: 0;
                            padding: 0 7px;
                            img{
                                width: 16px;
                                height: auto;
                                margin-right: 5px;
                                
                            }
                        }
                    }
                    >button{
                        margin-right: 5px;
                        float: right;
                        height: 40px;
                        font-size: 12px;
                        background-color: transparent;
                        outline: none;
                        cursor: pointer;
                        border: none;
                        text-decoration: underline;
                        color: $dark-2b2b2b;
                    }
                }
            }
            &:hover .profile-images-item-overlay{
                display: block;
            }
        }
    }
}
/* my profile  end */

/* sugessted ads start */
.suggested-ads {
    margin-top: 10px;
    overflow: hidden;
    box-sizing: border-box;
    background-color: $white;
    border-radius: 10px;
    padding: 13px 5%;
    box-shadow: $box-sahdow1;
    position: relative;

    .sug-slider-btn {
        width: 40px;
        height: 40px;
        background-color: $white;
        box-shadow: $box-sahdow1;
        border: none;
        font-size: 19px;
        text-align: center;
        color: $dark-888888;
        outline: none;
        cursor: pointer;
        position: absolute;
        top: 40%;
        z-index: 99;
    }

    .sug-slider-next {
        right: 0;
    }

    .sug-slider-prev {
        left: 0;
    }

    .sug-top {
        width: 100%;
        overflow: hidden;
        position: relative;
        margin-bottom: 10px;

        &::after {
            position: absolute;
            content: "";
            height: 1px;
            width: 100%;
            background-color: $grrey2-EFEEF2;
            bottom: 0;

        }

        h4 {
            font-size: 16px;
            float: left;
            font-family: $font-sans;
            color: $dark-2b2b2b;
        }

        a {
            font-size: 12px;
            float: right;
            color: $main-color-9100ff;
            text-decoration: underline;
        }
    }

    .sug-slider {
        overflow: hidden;
        box-sizing: border-box;
        max-width: 100%;

        .sug-owl-carousel {
            width: 100%;
            overflow: hidden;


        }

        .sug-ads-item {
            width: 100%;
            margin: 0 2px;
        }

        .sug-carousel-img {
            width: 100%;
            height: 150px;
            margin: 10px 0px;
        }

        h6 {
            font-size: 12px;
            color: $grey1;
        }

        p {
            font-size: 12px;
        }

        .sug-more {
            width: 100%;
            text-align: center;

            .sug-more-ads {
                text-decoration: none;
                color: $main-color-9100ff;
                font-size: 14px;
                display: inline-block;
                border: 1px solid $main-color-9100ff;
                padding: 5px 5%;
                margin: 0 auto;
                border-radius: 27px;
            }

        }
    }
}

/* sugessted ads end */




.test {
    width: 100%;
    height: 4000px;
    background-color: $main-light-a59ac2;
    font-family: $font-sans;
}

/* header start */

/* advertisement statistic start */
.ads-content {
    display: table;
    width: 100%;
    box-sizing: border-box;
    margin-top: 55px;
    padding: 20px 2%;

    .ads-width {
        width: 25%;
        float: left;
        overflow: hidden;
        box-sizing: border-box;
    }

    .ads-item-padding {
        padding: 0 2%;
        padding-top: 20px;
    }

    .ads-new {

        overflow: hidden;
        width: 100%;

        p {
            font-family: $font-sans;
            font-weight: 600;
            font-size: 20px;
            color: $main-color-9100ff;
            float: left;

            margin-right: 10px;
        }

        a {
            text-decoration: none;
            color: $white-fon-f9f9f9;
            font-family: $font-sans;
            font-weight: bold;
            display: inline-block;
            padding: 4px 15px;
            border: 1px solid transparent;
            background-color: $main-color-9100ff;
            border-radius: 27px;
        }
    }

    .ads-list {
        margin-top: 30px;

        .ads-item {
            box-shadow: $box-sahdow1;
            background-color: $white;
            overflow: hidden;
            border-radius: 10px;
            box-sizing: border-box;
            margin-bottom: 20px;

            .ads-image {
                height: 200px;
            }

            .ads-item-text {
                font-family: $font-sans;

                h6 {
                    font-size: 14px;
                    font-weight: bold;
                    font-family: $font-sans;
                    margin: 0;
                }

                span {
                    font-size: 12px;
                }

                p {
                    margin-top: 10px;
                    font-size: 12px;
                    line-height: 18px;

                }
            }

            .ads-statistic-item {
                border-left: 1px solid $grrey2-EFEEF2;
                border-right: 1px solid $grrey2-EFEEF2;
                min-height: 200px;

                .ads-statistic-title {
                    font-size: 14px;
                    font-family: $font-sans;
                    font-weight: bold;
                }

                .ads-statistic-content {
                    padding-bottom: 10px;

                    .ads-tab {
                        button.ads-tablink {
                            background-color: transparent;
                            border: none;
                            color: $grey1;
                            padding: 0 6px;
                            cursor: pointer;
                            border-bottom: 2px solid $grey1;
                            font-size: 12px;
                            outline: none;
                            font-weight: bold;
                        }

                        .ads-tablink-active {
                            border-color: $main-color-9100ff !important;
                            color: $main-color-9100ff !important;

                        }
                    }

                    .ads-statistic-info {
                        display: none;
                        margin-top: 10px;

                        .progress-c-1 {
                            color: #574092;
                        }

                        .progress-c-2 {
                            color: #7563a5;
                        }

                        .progress-c-3 {
                            color: #9884b8;
                        }

                        .progress-c-4 {
                            color: #c5bed7;
                        }

                        .progress-b-1 {
                            background-color: #574092;
                        }

                        .progress-b-2 {
                            background-color: #7563a5;
                        }

                        .progress-b-3 {
                            background-color: #9884b8;
                        }

                        .progress-b-4 {
                            background-color: #c5bed7;
                        }

                        .bf-progress {
                            position: relative;

                            span.progress-bf-number {
                                position: absolute;
                                right: 2px;
                                top: -20px;
                                font-size: 12px;
                                color: #2b2b2b;
                            }
                        }

                        .progress {

                            margin-top: 10px;
                            border-radius: 14px;

                        }

                        .statistic-loc {
                            max-height: 60px;
                            overflow: hidden;

                            p {
                                font-size: 12px;
                                margin: 5px 0;
                                width: 50%;
                                display: inline-block;
                                box-sizing: border-box;
                                float: left;
                            }

                            span.loc-circle {
                                width: 10px;
                                height: 10px;
                                border-radius: 50%;
                                display: inline-block;
                            }
                        }
                    }

                    .statistic-active {
                        display: block;
                    }
                }
            }

            .ads-button-content {
                margin: 0 auto;
                text-align: center;

                .ads-btn-disabled {
                    opacity: 0.5;
                }

                p {
                    display: block;
                    font-size: 14px;
                }

                a {
                    margin-top: 20px;
                    ;
                    display: inline-block;
                    border: 1px solid #9100ff;
                    text-decoration: none;


                }

                .ads-delete-btn {
                    color: $dark-888888;
                    padding: 4px 30px;
                    border-color: $dark-888888;
                }

                .ads-edit-btn {
                    color: #e5e5e5;
                    background-color: $main-color-9100ff;
                    padding: 4px 18px;
                }

            }

            .ads-st-set {
                font-family: $font-sans;
                font-weight: bold;
                // text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.27);
            }

            .ads-st-pending {
                color: #F1F156;
            }

            .ads-st-active {
                color: #27E385;
            }

            .ads-st-completed {
                color: #E32747;
            }
        }

    }
}

/* advertisement statistic end */
/* advertisement add start */
.ads-add-section {
    margin-top: 55px;
    padding: 10px;

    .ads-add-content {
        overflow: hidden;
        box-sizing: border-box;
        background-color: $white;
        border-radius: 10px;

        .ads-media-upload {
            margin-top: 20px;
            border-radius: 18px;
            height: 140px;
            border: 2px solid #cccccc;
            width: 50%;
            overflow: hidden;
            box-sizing: border-box;
            background-color: $grrey2-EFEEF2;
            position: relative;

            input {
                display: none;
            }

            .ads-media-upload-icon {
                cursor: pointer;
                position: absolute;
                z-index: 1;
                left: 0;
                bottom: 0;
                right: 0;
                top: 0;
                text-align: center;
                margin: 0 auto;
                padding-top: 50px;
                background-color: #ffffff7a;

                img {
                    height: 30px;
                }

                span {
                    display: block;
                    font-size: 10px;
                    color: #707070;
                }
            }
        }

        h3 {
            font-weight: bold;
            color: $main-color-9100ff;
            font-size: 20px;
            margin-bottom: 25px;
        }

        .bf-form-group {
            margin-bottom: 20px;

            textarea {
                width: 100% !important;
                resize: none;
                padding-top: 10px !important;

            }

            .bf-form-label {
                display: block;
                font-size: 12px;
                margin-bottom: 5px;
                margin-left: 15px;
                font-weight: bold;
                color: #888888;
            }

            .bf-form-control {
                border-radius: 27px;
                border: 1px solid #d8d8d8;
                overflow: hidden;
                box-sizing: border-box;
                padding: 5px 15px;
                color: $dark-888888;
                font-size: 12px;
                width: 50%;

                &:focus {
                    outline: none;
                }
            }
        }

        .ads-add-info {
            padding: 30px;
            border-bottom: 1px solid #efeef2;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05);
        }

        .ads-add-banner-audence {
            padding: 30px;
            border-bottom: 1px solid #efeef2;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05);

            .ads-add-location {
                width: 100%;
            }

            .ads-add-age {
                display: inline-flex;

                span {
                    width: 12px;
                    height: 1px;
                    background-color: #d8d8d8;
                    margin: 0 5px;
                    margin-top: 17px;

                }

                input {
                    max-width: 80px;

                    &::-webkit-inner-spin-button,
                    &::-webkit-outer-spin-button {
                        -webkit-appearance: none;
                        margin: 0;
                    }

                    &[type=number] {
                        -moz-appearance: textfield;
                        /* Firefox */
                    }

                    &::placeholder {
                        color: #d8d8d8;
                    }
                }
            }

            .ads-radio-gender {
                .ads-radio-container {
                    display: inline-block;
                    position: relative;
                    padding-left: 25px;
                    margin-bottom: 12px;
                    margin-right: 5px;
                    cursor: pointer;
                    font-size: 14px;
                    -webkit-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    user-select: none;

                    input {
                        position: absolute;
                        opacity: 0;
                        cursor: pointer;

                        &:checked~.checkmark:after {
                            display: block;
                        }

                    }

                    .checkmark {
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 18px;
                        width: 18px;
                        background-color: #eee;
                        border-radius: 50%;
                        border: 1px solid #a5adbb;

                        &:after {
                            content: "";
                            position: absolute;
                            display: none;

                            top: 2px;
                            left: 2px;
                            width: 12px;
                            height: 12px;
                            border-radius: 50%;
                            background-color: #a5adbb;
                        }
                    }
                }
            }
        }

        .ads-add-banner-price {
            padding: 30px;

            button {
                float: right;
                background-color: #9100ff;
                border: 1px solid $main-color-9100ff;
                padding: 3px 25px;
                border-radius: 20px;
                color: $white-fon-f9f9f9;
                cursor: pointer;
                margin-bottom: 10px;
            }
        }
    }
}

.bootstrap-tagsinput {
    border-radius: 27px;
    border: 1px solid #d8d8d8;
    overflow: hidden;
    box-sizing: border-box;
    padding: 5px 15px;
    color: $dark-888888;
    font-size: 12px;
    width: 100%;

    &:focus {
        outline: none;
    }
}

.bootstrap-tagsinput input {
    border: none;
    box-shadow: none;
    outline: none;
    background-color: transparent;
    padding: 0 6px;
    margin: 0;
    width: auto;
    max-width: inherit;
}

.bootstrap-tagsinput.form-control input::-moz-placeholder {
    color: #777;
    opacity: 1;
}

.bootstrap-tagsinput.form-control input:-ms-input-placeholder {
    color: #777;
}

.bootstrap-tagsinput.form-control input::-webkit-input-placeholder {
    color: #777;
}

.bootstrap-tagsinput input:focus {
    border: none;
    box-shadow: none;
}

.bootstrap-tagsinput .tag {
    margin: 2px 2px 2px 0px;
    background-color: $main-color-9100ff;
    padding: 0px 10px;
    border-radius: 27px;
    font-size: 12px;
    display: inline-block;
    color: #f5f5f5;
}

.bootstrap-tagsinput .tag [data-role="remove"] {
    margin-left: 8px;
    cursor: pointer;
}

.bootstrap-tagsinput .tag [data-role="remove"]:after {
    content: "x";
    padding: 0px 2px;
}

.bootstrap-tagsinput .tag [data-role="remove"]:hover {
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.bootstrap-tagsinput .tag [data-role="remove"]:hover:active {
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

/* advertisement add end */
/* ranking people start */

.ranking-section {
    margin-top: 65px;
    width: 100%;
    box-sizing: border-box;
    background-color: $white;
    border-radius: 12px;
    border: 1px solid #dfe1e5;

    overflow: hidden;

    .ranking-tablinks {
        display: table;
        width: 100%;
        border-bottom: 1px solid #dfe1e5;

        .ranking-tab-link {
            width: 33.33333%;
            margin: 0;
            padding: 15px 0;
            font-weight: bold;
            font-size: 17px;
            border: none;
            display: inline-block;
            background-color: $white;
            cursor: pointer;
            box-sizing: border-box;

            color: #d2d2d2;
            position: relative;

            &:focus {
                outline: none;
            }

        }


        .ranking-tab-link-active {
            color: $main-color-9100ff;

            &::after {
                content: "";
                position: absolute;
                bottom: 0;
                width: 50%;
                height: 1px;
                background-color: $main-color-9100ff;
                left: 0;
                right: 0;
                margin: 0 auto;

            }
        }
    }

    .ranking-tabs {


        .ranking-tab-content {
            display: none;

            .ranking-filtrate {
                padding: 20px;

                select {
                    float: right;
                    border: 1px solid #efeef2;
                    border-radius: 27px;
                    color: #a6a7a8;
                    font-size: 14px;
                    padding: 6px 20px;
                    margin-left: 20px;
                }
            }

            .ranking-tab-list {
                min-width: 400px;

                .ranking-tab-number {
                    width: 6%;
                    list-style-type: none;
                    float: left;
                    padding: 0 1.3%;
                    box-sizing: border-box;

                    li {
                        text-align: center;
                        display: block;
                        width: 100%;
                        height: 60px;
                        line-height: 60px;
                        font-size: 12px;
                        background-color: $main-color-9100ff;
                    }

                    li:nth-child(1) {
                        border-top-left-radius: 20px;
                        border-top-right-radius: 20px;
                    }

                    li:nth-last-child(1) {
                        border-bottom-left-radius: 20px;
                        border-bottom-right-radius: 20px;
                    }
                }

                .ranking-tab-table {
                    width: 94%;

                    float: left;

                    .ranking-tab-number {
                        margin-left: 4px;
                        width: 26px;
                        background-color: #7697f3;
                    }

                    tr {

                        width: 100%;

                        td:nth-child(1) {
                            text-align: left;
                            font-weight: bold;
                        }

                        td {
                            color: #2b2b2b;
                            font-size: 16px;
                            line-height: 40px;
                            text-align: center;
                            padding: 10px 0;


                            span {
                                float: left;
                                display: inline-flex;
                                width: 40px;
                                height: 40px;
                                margin-right: 5px;
                                border-radius: 50%;
                            }
                        }
                    }
                }

            }

            .ranking-tab-image {
                display: table;
                width: 100%;
                box-sizing: border-box;
                overflow: hidden;
                padding: 1.5%;

                .ranking-image-item {
                    width: 50%;
                    float: left;
                    padding: 1.5%;

                    .ranking-img-conent {
                        position: relative;
                        border: 1px solid #cccccc;
                        border-radius: 10px;
                        overflow: hidden;
                        box-sizing: border-box;
                        height: 275px;

                        a {
                            text-decoration: none;
                            color: #545454;
                        }

                        &:hover .ranking-img-overlay {
                            visibility: visible;
                            opacity: 1;
                        }

                        .ranking-img-overlay {
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            right: 0;
                            height: 88px;
                            background-color: rgba(255, 255, 255, 0.082);
                            padding: 3%;
                            backdrop-filter: blur(5px);
                            visibility: hidden;
                            opacity: 0;
                            transition: visibility 0s, opacity 0.2s linear;

                        }
                    }
                }
            }
        }

        .ranking-active {
            display: block;
        }
    }

}


/* ranking people end */



.display-block {
    display: block !important;
}