/* header start */
.header {
    background-color: $main-color-9100ff;
    width: 100%;
    height: 55px;
    position: fixed;
    top: 0;
    z-index: $index-header;
    padding: 0 1%;

    -webkit-box-shadow: 0px 6px 17px 0px rgba(43, 43, 43, 0.1);
    -moz-box-shadow: 0px 6px 17px 0px rgba(43, 43, 43, 0.1);
    box-shadow: 0px 6px 17px 0px rgba(43, 43, 43, 0.1);

    .header-button-active {
        opacity: 0.6;
    }
    .header-web {
        .header-logo-section {
            padding-top: 10px;
            width: 18%;
            float: left;

            .header-logo {
                width: 95px;

                .header-web-logo {
                    width: 100%;
                }


            }
        }

        .header-search-section {
            width: 25%;
            float: left;

            .header-search-input {
                position: relative;

                span {
                    width: 25px;
                    height: 25px;
                    display: inline-block;
                    position: absolute;
                    background-repeat: no-repeat;
                    top: 16px;
                    left: 9px;
                    background-size: cover;
                }

                input {
                    width: 100%;
                    height: 55px;
                    box-sizing: border-box;
                    border: none;
                    color: $main-light-a59ac2;
                    font-size: 14px;
                    padding-left: 40px;
                    padding-right: 10px;

                    background-color: $white-fon-f9f9f9;


                    &::placeholder {
                        color: $main-light-a59ac2;
                    }

                    &:focus {
                        outline: none;

                    }
                }
            }
        }

        .header-icon-panel {
            width: 57%;
            float: right;
            padding-top: 10px;

            ul {
                float: right;
                padding: 0;
                padding-top: 2px;
                display: inline-flex;
                margin-right: 30px;

                li {
                    margin: 0 1%;
                    list-style-type: none;
                    float: left;

                    button {
                        border: none;
                        background-color: transparent;
                        cursor: pointer;
                        width: 35px;
                        height: 35px;
                        padding: 5px;
                        overflow: hidden;
                        outline: none;
                        line-height: 35px;

                        svg {
                            transform: scale(0.8);
                            margin: 0 auto;
                        }

                        img {
                            height: 20px;
                            margin: 0;
                            padding: 0;
                        }

                        span {
                            display: block;
                            background-size: contain;
                            background-repeat: no-repeat;
                            height: 40px;
                            overflow: hidden;
                            box-sizing: border-box;
                            white-space: nowrap;
                            margin: 0 auto;
                        }
                    }

                   

                }
            }

            .header-profile-content {
                cursor: pointer;
                float: right;
                width: 35px;
                height: 35px;
                border-radius: 50%;
                border: 1px solid $white-fon-f9f9f9;
            }
        }

    }

    .header-mobile {
        display: none;

        .header-mobile-ul {
            margin: 0;
            padding: 0;
            padding-top: 9px;
            display: table;
            width: 100%;
            // position: relative;
            li.header-mobile-item:first-child{
                text-align: left;
            }
            
            li.header-mobile-item {
                float: left;
                list-style-type: none;
                width: 14.2857142859%;
                margin: 0 auto;
                text-align: center;

                .header-mobile-button {
                    border: none;
                    background-color: transparent;
                    height: 40px;
                    width: 40px;
                    border-radius: 50%;
                    cursor: pointer;
                    outline: none;
                    svg{
                        transform: scale(0.8);
                    }
                }

                .header-profile-content {
                    cursor: pointer;
                    float: right;
                    width: 35px;
                    height: 35px;
                    border-radius: 50%;
                    border: 1px solid $white-fon-f9f9f9;
                }

            }
            .header-mobile-search-input{
                position: absolute;
                top: 55px;
                left: 0;
                outline: none;
                width: 100%;
                height: 55px;
                box-sizing: border-box;
                border: none;
                border-bottom: 1px solid rgba(133, 133, 133, 0.123);
                color: $main-light-a59ac2;
                font-size: 14px;
                padding-left: 40px;
                padding-right: 10px;
                background-color: $grey-edge-F5F5F5;
                -webkit-box-shadow: 0px 6px 17px 0px rgba(43, 43, 43, 0.3);
                -moz-box-shadow: 0px 6px 17px 0px rgba(43, 43, 43, 0.3);
                box-shadow: 0px 6px 17px 0px rgba(43, 43, 43, 0.3);
            }
            .mobile-msg-inbox{
                position: absolute;
                top: 55px;
                left: 0;
                width: 100%;
                background-color: $grey-edge-F5F5F5;
                -webkit-box-shadow: 0px 6px 17px 0px rgba(43, 43, 43, 0.3);
                -moz-box-shadow: 0px 6px 17px 0px rgba(43, 43, 43, 0.3);
                box-shadow: 0px 6px 17px 0px rgba(43, 43, 43, 0.3);
                display: none;
            }

        }
    }



}

/* header end */