$main-color-9100ff: #9100ff;
$main-light-a59ac2: #a59ac2;
$dark-2b2b2b:#2b2b2b;
$dark-888888: #888888;
$dark-333333: #333333;
$white:#ffffff;
$white-fon-f9f9f9: #f9f9f9;
$grey1:#a6a7a8;
$grrey2-EFEEF2:#EFEEF2;
$grey-edge-F5F5F5: #F5F5F5;
$index-popup: 999;
$idnex-panel: 70;
$index-header: 90;
$index-minipad:99;
$font-sans:'Open Sans',
sans-serif;
$font-playfair: 'Playfair Display',
serif;
$box-sahdow1: 0 3px 6px rgba(0, 0, 0, 0.1);
$popup-background: rgba(71, 80, 90, 0.3);

@keyframes itemblock {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
        display: block;
    }
}
/* popup invite friends start */
.popup-invite-friends{
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: $index-popup;
    background-color: $popup-background;
    overflow: hidden;
    .popup-friends-content{
        overflow: hidden;
        width: 22%;
        background-color: $white;
        border-radius: 10px;
        padding: 20px;
        display: table;
        text-align: center;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        .popup-friends-cancel{
            position: absolute;
            right: 5px;
            top: 5px;
            padding: 0;
            margin: 0;
            cursor: pointer;
            border: none;
            background-color: transparent;
            outline: none;
        }
        .popup-friends-title{
            font-size: 22px;
            font-weight: bold;
        }
        .popup-friends-input{
            background-color: $grey-edge-F5F5F5;
            border: none;
            border-radius: 13px;
            padding: 4px 20px;
            outline: none;
            width: 100%;
            font-size: 13px;
            color: $dark-333333;
            margin-top: 10px;
        }
        .popup-friends-info{
            font-size: 12px;
            display: block;
            margin-top: 3px;
            margin-bottom: 10px;
        }
        .popup-friends-share-content{
            margin: 0;
            padding: 0;
            .popup-friends-share-item{
                list-style-type: none;
                display: inline-block;
            }
        }

    }
}
/* popup invite friends end */

.icon-like::before {
    content: url(../../dist/img/svg/like.svg);
    display: inline-block;
    transform: scale(0.7);
}

.icon-balance::before {
    content: url(../../dist/img/svg/balance.svg);
    display: inline-block;
    transform: scale(0.7);
}

.icon-notification::before {
    content: url(../../dist/img/svg/notification.svg);
    display: inline-block;
    transform: scale(0.7);
}

.icon-status::before {
    content: url(../../dist/img/svg/status.svg);
    display: inline-block;
    transform: scale(0.7);
}

.icon-friends::before {
    content: url(../../dist/img/svg/frend-request.svg);
    display: inline-block;
    transform: scale(0.7);
}

.icon-message-box::before {
    content: url(../../dist/img/svg/message-inbox.svg);
    display: inline-block;
    transform: scale(0.7);
}



* {
    font-family: $font-sans;
}

body {
    background-color: $white-fon-f9f9f9;

}

/* messagebox start */
.msgboxmini {
    height: 45px !important;
    width: 250px !important;
}

.bf-btn {
    text-decoration: none;
    font-family: $font-sans;
    font-weight: bold;
    border: 1px solid transparent;
    border-radius: 27px;
}

.img-cover {
    background-size: cover;
    background-position: center;
}

#msgbox {
    position: absolute;
    z-index: $index-minipad;
    background-color: $white;
    border: 1px solid $main-light-a59ac2;
    border-radius: 10px;
    overflow: hidden;
    width: 350px;
    height: 360px;
    bottom: 0;
    right: 25%;

    #msgboxdrag {
        padding: 10px;
        cursor: move;
        z-index: 10;
        background-color: $main-color-9100ff;
        color: $white;

        .msgbox-name {

            display: inline-block;

            a {
                text-transform: capitalize;
                font-weight: bold;
                text-decoration: none;
                color: #f1f1f1;
            }
        }

        .msgbox-exit {
            float: right;
            margin-right: 10px;
            margin-top: -3px;
            cursor: pointer;

            svg {
                width: 15px;
                height: 15px;
                display: inline-flex;
                vertical-align: auto;

                path {
                    fill: $white;
                }
            }

            i {
                cursor: pointer;
                width: 15px;
                height: 15px;
                font-size: 12px;
                display: inline-flex;

            }
        }
    }

    .msgbox-msg {
        width: 100%;
        height: 200px;
        ;
        box-sizing: border-box;
        overflow-y: scroll;
        padding: 10px;

        .msg-box {
            position: relative;
            display: table;
            width: 100%;
            padding-top: 10px;
            padding-bottom: 15px;

            .msg-user-image {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                float: left;
                box-sizing: border-box;
                margin-right: 15px;
            }

            p {
                box-sizing: border-box;
                overflow: hidden;
                color: #999999;
                font-size: 14px;
            }

            .msg-image-preview {
                width: 100px;
                height: 150px;
                float: left;
                overflow: hidden;
                box-sizing: border-box;
                border: 1px solid $main-light-a59ac2;
                border-radius: 10px;
                cursor: pointer;
            }

            .msg-link a {
                color: $grey1;
            }
        }

    }

    .msgbox-send {
        display: table;
        bottom: 0;
        border-top: 1px solid #d3d3d3;
        background-color: #fff;
        ;
        width: 100%;
        padding: 10px 20px;

        .msgbox-input {
            width: 100%;

            input {
                width: 100%;
                border: 1px solid #d3d3d3;
                padding: 4px 5px;
                border-radius: 20px;
                padding-left: 20px;
                overflow: hidden;
                color: #999999;

                &::placeholder {
                    color: #d3d3d3;
                }

                &:focus {

                    outline: none;
                }
            }
        }

        .msg-box-buttons {
            margin: 20px 0;

            .msg-btn-other {
                float: left;

                svg {
                    margin-right: 10px;
                    width: 20px;

                    path {
                        fill: #9100ff;
                        stroke: #9100ff;

                    }
                }

            }

            .msg-btn-send {
                width: 90px;
                height: 30px;
                background-color: #9100ff;
                color: white;
                border: none;
                border-radius: 27px;
                float: right;

                &:focus {
                    outline: none;
                    ;
                }
            }
        }
    }
}

/* messagebox end */
/* header start */
.header {
    background-color: $main-color-9100ff;
    width: 100%;
    height: 55px;
    position: fixed;
    top: 0;
    z-index: $index-header;
    padding: 0 1%;

    -webkit-box-shadow: 0px 6px 17px 0px rgba(43, 43, 43, 0.1);
    -moz-box-shadow: 0px 6px 17px 0px rgba(43, 43, 43, 0.1);
    box-shadow: 0px 6px 17px 0px rgba(43, 43, 43, 0.1);

    .header-button-active {
        opacity: 0.6;
    }
    .header-web {
        .header-logo-section {
            padding-top: 10px;
            width: 18%;
            float: left;

            .header-logo {
                width: 95px;

                .header-web-logo {
                    width: 100%;
                }


            }
        }

        .header-search-section {
            width: 25%;
            float: left;

            .header-search-input {
                position: relative;

                span {
                    width: 25px;
                    height: 25px;
                    display: inline-block;
                    position: absolute;
                    background-repeat: no-repeat;
                    top: 16px;
                    left: 9px;
                    background-size: cover;
                }

                input {
                    width: 100%;
                    height: 55px;
                    box-sizing: border-box;
                    border: none;
                    color: $main-light-a59ac2;
                    font-size: 14px;
                    padding-left: 40px;
                    padding-right: 10px;

                    background-color: $white-fon-f9f9f9;


                    &::placeholder {
                        color: $main-light-a59ac2;
                    }

                    &:focus {
                        outline: none;

                    }
                }
            }
        }

        .header-icon-panel {
            width: 57%;
            float: right;
            padding-top: 10px;

            ul {
                float: right;
                padding: 0;
                padding-top: 2px;
                display: inline-flex;
                margin-right: 30px;

                li {
                    margin: 0 1%;
                    list-style-type: none;
                    float: left;

                    button {
                        border: none;
                        background-color: transparent;
                        cursor: pointer;
                        width: 35px;
                        height: 35px;
                        padding: 5px;
                        overflow: hidden;
                        outline: none;
                        line-height: 35px;

                        svg {
                            transform: scale(0.8);
                            margin: 0 auto;
                        }

                        img {
                            height: 20px;
                            margin: 0;
                            padding: 0;
                        }

                        span {
                            display: block;
                            background-size: contain;
                            background-repeat: no-repeat;
                            height: 40px;
                            overflow: hidden;
                            box-sizing: border-box;
                            white-space: nowrap;
                            margin: 0 auto;
                        }
                    }

                   

                }
            }

            .header-profile-content {
                cursor: pointer;
                float: right;
                width: 35px;
                height: 35px;
                border-radius: 50%;
                border: 1px solid $white-fon-f9f9f9;
            }
        }

    }

    .header-mobile {
        display: none;

        .header-mobile-ul {
            margin: 0;
            padding: 0;
            padding-top: 9px;
            display: table;
            width: 100%;
            // position: relative;
            li.header-mobile-item:first-child{
                text-align: left;
            }
            
            li.header-mobile-item {
                float: left;
                list-style-type: none;
                width: 14.2857142859%;
                margin: 0 auto;
                text-align: center;

                .header-mobile-button {
                    border: none;
                    background-color: transparent;
                    height: 40px;
                    width: 40px;
                    border-radius: 50%;
                    cursor: pointer;
                    outline: none;
                    svg{
                        transform: scale(0.8);
                    }
                }

                .header-profile-content {
                    cursor: pointer;
                    float: right;
                    width: 35px;
                    height: 35px;
                    border-radius: 50%;
                    border: 1px solid $white-fon-f9f9f9;
                }

            }
            .header-mobile-search-input{
                position: absolute;
                top: 55px;
                left: 0;
                outline: none;
                width: 100%;
                height: 55px;
                box-sizing: border-box;
                border: none;
                border-bottom: 1px solid rgba(133, 133, 133, 0.123);
                color: $main-light-a59ac2;
                font-size: 14px;
                padding-left: 40px;
                padding-right: 10px;
                background-color: $grey-edge-F5F5F5;
                -webkit-box-shadow: 0px 6px 17px 0px rgba(43, 43, 43, 0.3);
                -moz-box-shadow: 0px 6px 17px 0px rgba(43, 43, 43, 0.3);
                box-shadow: 0px 6px 17px 0px rgba(43, 43, 43, 0.3);
            }
            .mobile-msg-inbox{
                position: absolute;
                top: 55px;
                left: 0;
                width: 100%;
                background-color: $grey-edge-F5F5F5;
                -webkit-box-shadow: 0px 6px 17px 0px rgba(43, 43, 43, 0.3);
                -moz-box-shadow: 0px 6px 17px 0px rgba(43, 43, 43, 0.3);
                box-shadow: 0px 6px 17px 0px rgba(43, 43, 43, 0.3);
                display: none;
            }

        }
    }



}

/* header end */

/* home page start */
.home-page-content{
    margin-top: 55px;
    display: table;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
}
/* home page end */

/* sugessted ads start */
.suggested-ads{
    margin-top: 10px;
    overflow: hidden;
    box-sizing: border-box;
    background-color: $white;
    border-radius: 10px;
    padding: 13px 5%;   
    box-shadow: $box-sahdow1;
    position: relative;
    .sug-slider-btn{
        width: 40px;
        height: 40px;
        background-color: $white;
        box-shadow: $box-sahdow1;
        border: none;
        font-size: 19px;
        text-align: center;
        color: $dark-888888;
        outline: none;
        cursor: pointer;
        position: absolute;
        top: 40%;
        z-index: 999;
    }
    .sug-slider-next{right: 0;}
    .sug-slider-prev{left: 0;}
    .sug-top{
        width: 100%;
        overflow: hidden;
        position: relative;
        margin-bottom: 10px;
        &::after{
            position: absolute;
            content: "";
            height: 1px;
            width: 100%;
            background-color: $grrey2-EFEEF2;
            bottom: 0;

        }
        h4{
            font-size: 16px;
            float: left;
            font-family: $font-sans;
            color: $dark-2b2b2b;
        }
        a{
            font-size: 12px;
            float: right;
            color: $main-color-9100ff;
            text-decoration: underline;
        }
    }
    .sug-slider{
        overflow: hidden;
        box-sizing: border-box;
        max-width: 100%;
        .sug-owl-carousel{
            width: 100%;
            overflow: hidden;
       
            
        }
        .sug-ads-item{
            width: 100%;
            margin: 0 2px;
        }
        .sug-carousel-img{
            width: 100%;
            height: 150px;
            margin: 10px 0px;
        }
        h6{
            font-size: 12px;
            color: $grey1;
        }
        p{
            font-size: 12px;
        }
        .sug-more{
            width: 100%;
            text-align: center;
            .sug-more-ads{
                text-decoration: none;
                color: $main-color-9100ff;
                font-size: 14px;
                display: inline-block;
                border: 1px solid $main-color-9100ff;
                padding: 5px 5%;
                margin: 0 auto;
                border-radius: 27px;
            }

        }
    }
}
/* sugessted ads end */


/* left panel start */
.fixed-panel {
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: $idnex-panel;
    margin-top: 55px;
    display: block;
}

.panel-left {
    background-color: $white-fon-f9f9f9;
    box-shadow: $box-sahdow1;

    .left-panel-profile-content {
        padding: 20px 0;
        padding-left: 5%;

        .left-panel-profile-item {
            padding: 3px;
            display: table;
            width: 100%;
            -ms-box-shadow: -3px 3px 5px 1px rgba(51, 51, 51, 0.08);
            -o-box-shadow: -3px 3px 5px 1px rgba(51, 51, 51, 0.08);
            -webkit-box-shadow: -3px 3px 5px 1px rgba(51, 51, 51, 0.08);
            -moz-box-shadow: -3px 3px 5px 1px rgba(51, 51, 51, 0.08);
            box-shadow: -3px 3px 5px 1px rgba(51, 51, 51, 0.08);
            border-top-left-radius: 25px;
            border-bottom-left-radius: 25px;
            box-sizing: border-box;
            border: 1px solid #E9E9E9;
            border-right: none;

            .left-panel-image {
                width: 40px;
                height: 40px;
                float: left;
                border-radius: 50%;
                margin-right: 5px;

            }

            .left-panel-profile-info {
                float: left;
                padding-top: 4px;

                p {
                    font-size: 14px;
                    margin: 0;
                    line-height: 13px;
                    color: #47505A;
                }

                span {
                    font-size: 12px;
                    color: #A6A7A8;

                }
            }
        }

    }

    .left-panel-menu-content {
        display: table;
        width: 100%;

        ul.left-panel-menu-tab {
            padding: 0;
            margin: 0;

            li:first-child {
                border-top: 1px solid #E9E9E9;
            }

            li.left-panel-menu-item {
                cursor: pointer;
                list-style-type: none;
                border-bottom: 1px solid #E9E9E9;
                transition: 0.2s ease-in-out;
                &:hover{
                    -ms-box-shadow: -3px 3px 5px 1px rgba(51, 51, 51, 0.08);
                    -o-box-shadow: -3px 3px 5px 1px rgba(51, 51, 51, 0.08);
                    -webkit-box-shadow: -3px 3px 5px 1px rgba(51, 51, 51, 0.08);
                    -moz-box-shadow: -3px 3px 5px 1px rgba(51, 51, 51, 0.08);
                    box-shadow: -3px 3px 5px 1px rgba(51, 51, 51, 0.08);
                    a{
                        color: $main-color-9100ff;
                    }
                }
                
                a {
                    transition: 0.2s ease-in-out;
                    text-decoration: none;
                    display: block;
                    width: 100%;
                    padding: 14px 0;
                    padding-left: 10%;
                    font-size: 14px;
                    font-weight: bold;
                    color: #47505A;

                }

            }
        }
    }

    .left-panel-settings {
        padding: 10px 10%;

        a {
            color: $main-color-9100ff;
            text-decoration: none;
            font-size: 14px;
            display: inline-block;
            margin-right: 7%;
            font-weight: bold;
        }
    }

}

/* left panel end */
.panel-middle {

    background-color: $dark-888888;

}

/* right panel start */
.panel-right {
    box-shadow: $box-sahdow1;

    .right-panel-tab-links {
        width: 100%;
        display: table;

        .right-panel-link-item {
            width: 50%;
            float: left;

            button {
                width: 100%;
                height: 50px;
                box-sizing: border-box;
                border: none;
                font-size: 16px;
                font-weight: bold;
                color: $main-color-9100ff;
                background-color: transparent;
                border-bottom: 2px solid #EFEEF2;
                cursor: pointer;

                &:focus {
                    outline: none;
                }
            }

            .right-panel-link-active {
                border-bottom: 2px solid $main-color-9100ff;
            }

        }

    }

    .right-panel-tab-content {

        box-sizing: border-box;
        padding: 10px 5%;

        height: 90%;

        .ranking-image-item {
            display: table;
            width: 100%;
            box-sizing: border-box;
            margin-bottom: 10px;

            .ranking-img-conent {
                height: 150px;
                border-radius: 10px;
                position: relative;
                overflow: hidden;

                &:hover .ranking-img-overlay {
                    display: block;
                    
                }

                a {
                    text-decoration: none;
                    color: #545454;

                }

                .ranking-img-overlay {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    height: 50px;
                    background-color: rgba(255, 255, 255, 0.201);
                    font-size: 14px;
                    backdrop-filter: blur(7px);
                    padding: 4px;
                    padding-left: 10px;
                    display: none;
                    border-bottom-left-radius: 10px;
                    border-bottom-right-radius: 10px;

                    p {
                        margin: 0;
                        ;
                    }

                    img {
                        height: 10px;
                    }
                }
            }
        }

        .rignt-panel-follower-content {
            .right-panel-follwer-item {
                border-bottom: 1px solid #EFEEF2;
                display: table;
                width: 100%;
                margin-bottom: 5px;
                cursor: pointer;

                &:nth-last-child(1) {
                    border: none;
                }

                .right-panel-follower-imgae {
                    height: 40px;
                    width: 40px;
                    border-radius: 50%;
                    float: left;
                    margin-right: 5px;
                    padding-top: 5px;

                }

                h6 {
                    font-size: 2vh;
                    font-weight: bold;
                    float: left;
                    padding: 13px 0;
                    color: $dark-2b2b2b;
                }

                span {
                    font-size: 1.5vh;
                    float: right;
                    columns: $dark-888888;
                    padding-top: 13px;
                }
            }

        }

        .right-panel-content-item {
            display: none;
        }

        .right-panel-tab-active {
            display: block;

        }
    }

}

/* right panel end */
.test {
    width: 100%;
    height: 4000px;
    background-color: $main-light-a59ac2;
    font-family: $font-sans;
}

/* header start */

/* advertisement statistic start */
.ads-content {
    display: table;
    width: 100%;
    box-sizing: border-box;
    margin-top: 55px;
    padding: 20px 2%;

    .ads-width {
        width: 25%;
        float: left;
        overflow: hidden;
        box-sizing: border-box;
    }

    .ads-item-padding {
        padding: 0 2%;
        padding-top: 20px;
    }

    .ads-new {

        overflow: hidden;
        width: 100%;

        p {
            font-family: $font-sans;
            font-weight: 600;
            font-size: 20px;
            color: $main-color-9100ff;
            float: left;

            margin-right: 10px;
        }

        a {
            text-decoration: none;
            color: $white-fon-f9f9f9;
            font-family: $font-sans;
            font-weight: bold;
            display: inline-block;
            padding: 4px 15px;
            border: 1px solid transparent;
            background-color: $main-color-9100ff;
            border-radius: 27px;
        }
    }

    .ads-list {
        margin-top: 30px;

        .ads-item {
            box-shadow: $box-sahdow1;
            background-color: $white;
            overflow: hidden;
            border-radius: 10px;
            box-sizing: border-box;
            margin-bottom: 20px;

            .ads-image {
                height: 200px;
            }

            .ads-item-text {
                font-family: $font-sans;

                h6 {
                    font-size: 14px;
                    font-weight: bold;
                    font-family: $font-sans;
                    margin: 0;
                }

                span {
                    font-size: 12px;
                }

                p {
                    margin-top: 10px;
                    font-size: 12px;
                    line-height: 18px;

                }
            }

            .ads-statistic-item {
                border-left: 1px solid $grrey2-EFEEF2;
                border-right: 1px solid $grrey2-EFEEF2;
                min-height: 200px;

                .ads-statistic-title {
                    font-size: 14px;
                    font-family: $font-sans;
                    font-weight: bold;
                }

                .ads-statistic-content {
                    padding-bottom: 10px;

                    .ads-tab {
                        button.ads-tablink {
                            background-color: transparent;
                            border: none;
                            color: $grey1;
                            padding: 0 6px;
                            cursor: pointer;
                            border-bottom: 2px solid $grey1;
                            font-size: 12px;
                            outline: none;
                            font-weight: bold;
                        }

                        .ads-tablink-active {
                            border-color: $main-color-9100ff !important;
                            color: $main-color-9100ff !important;
                            
                        }
                    }

                    .ads-statistic-info {
                        display: none;
                        margin-top: 10px;

                        .progress-c-1 {
                            color: #574092;
                        }

                        .progress-c-2 {
                            color: #7563a5;
                        }

                        .progress-c-3 {
                            color: #9884b8;
                        }

                        .progress-c-4 {
                            color: #c5bed7;
                        }

                        .progress-b-1 {
                            background-color: #574092;
                        }

                        .progress-b-2 {
                            background-color: #7563a5;
                        }

                        .progress-b-3 {
                            background-color: #9884b8;
                        }

                        .progress-b-4 {
                            background-color: #c5bed7;
                        }

                        .bf-progress {
                            position: relative;

                            span.progress-bf-number {
                                position: absolute;
                                right: 2px;
                                top: -20px;
                                font-size: 12px;
                                color: #2b2b2b;
                            }
                        }

                        .progress {

                            margin-top: 10px;
                            border-radius: 14px;

                        }

                        .statistic-loc {
                            max-height: 60px;
                            overflow: hidden;

                            p {
                                font-size: 12px;
                                margin: 5px 0;
                                width: 50%;
                                display: inline-block;
                                box-sizing: border-box;
                                float: left;
                            }

                            span.loc-circle {
                                width: 10px;
                                height: 10px;
                                border-radius: 50%;
                                display: inline-block;
                            }
                        }
                    }

                    .statistic-active {
                        display: block;
                    }
                }
            }

            .ads-button-content {
                margin: 0 auto;
                text-align: center;

                .ads-btn-disabled {
                    opacity: 0.5;
                }

                p {
                    display: block;
                    font-size: 14px;
                }

                a {
                    margin-top: 20px;
                    ;
                    display: inline-block;
                    border: 1px solid #9100ff;
                    text-decoration: none;


                }

                .ads-delete-btn {
                    color: $dark-888888;
                    padding: 4px 30px;
                    border-color: $dark-888888;
                }

                .ads-edit-btn {
                    color: #e5e5e5;
                    background-color: $main-color-9100ff;
                    padding: 4px 18px;
                }

            }

            .ads-st-set {
                font-family: $font-sans;
                font-weight: bold;
                // text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.27);
            }

            .ads-st-pending {
                color: #F1F156;
            }

            .ads-st-active {
                color: #27E385;
            }

            .ads-st-completed {
                color: #E32747;
            }
        }

    }
}

/* advertisement statistic end */
/* advertisement add start */
.ads-add-section {
    margin-top: 55px;
    padding: 10px;

    .ads-add-content {
        overflow: hidden;
        box-sizing: border-box;
        background-color: $white;
        border-radius: 10px;

        .ads-media-upload {
            margin-top: 20px;
            border-radius: 18px;
            height: 140px;
            border: 2px solid #cccccc;
            width: 50%;
            overflow: hidden;
            box-sizing: border-box;
            background-color: $grrey2-EFEEF2;
            position: relative;

            input {
                display: none;
            }

            .ads-media-upload-icon {
                cursor: pointer;
                position: absolute;
                z-index: 1;
                left: 0;
                bottom: 0;
                right: 0;
                top: 0;
                text-align: center;
                margin: 0 auto;
                padding-top: 50px;
                background-color: #ffffff7a;

                img {
                    height: 30px;
                }

                span {
                    display: block;
                    font-size: 10px;
                    color: #707070;
                }
            }
        }

        h3 {
            font-weight: bold;
            color: $main-color-9100ff;
            font-size: 20px;
            margin-bottom: 25px;
        }

        .bf-form-group {
            margin-bottom: 20px;

            textarea {
                width: 100% !important;
                resize: none;
                padding-top: 10px !important;

            }

            .bf-form-label {
                display: block;
                font-size: 12px;
                margin-bottom: 5px;
                margin-left: 15px;
                font-weight: bold;
                color: #888888;
            }

            .bf-form-control {
                border-radius: 27px;
                border: 1px solid #d8d8d8;
                overflow: hidden;
                box-sizing: border-box;
                padding: 5px 15px;
                color: $dark-888888;
                font-size: 12px;
                width: 50%;

                &:focus {
                    outline: none;
                }
            }
        }

        .ads-add-info {
            padding: 30px;
            border-bottom: 1px solid #efeef2;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05);
        }

        .ads-add-banner-audence {
            padding: 30px;
            border-bottom: 1px solid #efeef2;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05);

            .ads-add-location {
                width: 100%;
            }

            .ads-add-age {
                display: inline-flex;

                span {
                    width: 12px;
                    height: 1px;
                    background-color: #d8d8d8;
                    margin: 0 5px;
                    margin-top: 17px;

                }

                input {
                    max-width: 80px;

                    &::-webkit-inner-spin-button,
                    &::-webkit-outer-spin-button {
                        -webkit-appearance: none;
                        margin: 0;
                    }

                    &[type=number] {
                        -moz-appearance: textfield;
                        /* Firefox */
                    }

                    &::placeholder {
                        color: #d8d8d8;
                    }
                }
            }

            .ads-radio-gender {
                .ads-radio-container {
                    display: inline-block;
                    position: relative;
                    padding-left: 25px;
                    margin-bottom: 12px;
                    margin-right: 5px;
                    cursor: pointer;
                    font-size: 14px;
                    -webkit-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    user-select: none;

                    input {
                        position: absolute;
                        opacity: 0;
                        cursor: pointer;

                        &:checked~.checkmark:after {
                            display: block;
                        }

                    }

                    .checkmark {
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 18px;
                        width: 18px;
                        background-color: #eee;
                        border-radius: 50%;
                        border: 1px solid #a5adbb;

                        &:after {
                            content: "";
                            position: absolute;
                            display: none;

                            top: 2px;
                            left: 2px;
                            width: 12px;
                            height: 12px;
                            border-radius: 50%;
                            background-color: #a5adbb;
                        }
                    }
                }
            }
        }

        .ads-add-banner-price {
            padding: 30px;

            button {
                float: right;
                background-color: #9100ff;
                border: 1px solid $main-color-9100ff;
                padding: 3px 25px;
                border-radius: 20px;
                color: $white-fon-f9f9f9;
                cursor: pointer;
                margin-bottom: 10px;
            }
        }
    }
}

.bootstrap-tagsinput {
    border-radius: 27px;
    border: 1px solid #d8d8d8;
    overflow: hidden;
    box-sizing: border-box;
    padding: 5px 15px;
    color: $dark-888888;
    font-size: 12px;
    width: 100%;

    &:focus {
        outline: none;
    }
}

.bootstrap-tagsinput input {
    border: none;
    box-shadow: none;
    outline: none;
    background-color: transparent;
    padding: 0 6px;
    margin: 0;
    width: auto;
    max-width: inherit;
}

.bootstrap-tagsinput.form-control input::-moz-placeholder {
    color: #777;
    opacity: 1;
}

.bootstrap-tagsinput.form-control input:-ms-input-placeholder {
    color: #777;
}

.bootstrap-tagsinput.form-control input::-webkit-input-placeholder {
    color: #777;
}

.bootstrap-tagsinput input:focus {
    border: none;
    box-shadow: none;
}

.bootstrap-tagsinput .tag {
    margin: 2px 2px 2px 0px;
    background-color: $main-color-9100ff;
    padding: 0px 10px;
    border-radius: 27px;
    font-size: 12px;
    display: inline-block;
    color: #f5f5f5;
}

.bootstrap-tagsinput .tag [data-role="remove"] {
    margin-left: 8px;
    cursor: pointer;
}

.bootstrap-tagsinput .tag [data-role="remove"]:after {
    content: "x";
    padding: 0px 2px;
}

.bootstrap-tagsinput .tag [data-role="remove"]:hover {
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.bootstrap-tagsinput .tag [data-role="remove"]:hover:active {
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

/* advertisement add end */
/* ranking people start */

.ranking-section {
    margin-top: 65px;
    width: 100%;
    box-sizing: border-box;
    background-color: $white;
    border-radius: 12px;
    border: 1px solid #dfe1e5;

    overflow: hidden;

    .ranking-tablinks {
        display: table;
        width: 100%;
        border-bottom: 1px solid #dfe1e5;

        .ranking-tab-link {
            width: 33.33333%;
            margin: 0;
            padding: 15px 0;
            font-weight: bold;
            font-size: 20px;
            border: none;
            display: inline-block;
            background-color: $white;
            cursor: pointer;
            box-sizing: border-box;

            color: #d2d2d2;
            position: relative;

            &:focus {
                outline: none;
            }

        }


        .ranking-tab-link-active {
            color: $main-color-9100ff;

            &::after {
                content: "";
                position: absolute;
                bottom: 0;
                width: 50%;
                height: 1px;
                background-color: $main-color-9100ff;
                left: 0;
                right: 0;
                margin: 0 auto;

            }
        }
    }

    .ranking-tabs {


        .ranking-tab-content {
            display: none;

            .ranking-filtrate {
                padding: 20px;

                select {
                    float: right;
                    border: 1px solid #efeef2;
                    border-radius: 27px;
                    color: #a6a7a8;
                    font-size: 14px;
                    padding: 6px 20px;
                    margin-left: 20px;
                }
            }

            .ranking-tab-list {
                min-width: 400px;

                .ranking-tab-number {
                    width: 5%;
                    list-style-type: none;
                    float: left;
                    padding: 0 1.3%;
                    box-sizing: border-box;

                    li {
                        text-align: center;
                        display: block;
                        width: 100%;
                        height: 60px;
                        line-height: 60px;
                        background-color: $main-color-9100ff;
                    }

                    li:nth-child(1) {
                        border-top-left-radius: 20px;
                        border-top-right-radius: 20px;
                    }

                    li:nth-last-child(1) {
                        border-bottom-left-radius: 20px;
                        border-bottom-right-radius: 20px;
                    }
                }

                .ranking-tab-table {
                    width: 95%;

                    float: left;

                    .ranking-tab-number {
                        margin-left: 4px;
                        width: 26px;
                        background-color: #7697f3;
                    }

                    tr {

                        width: 100%;

                        td:nth-child(1) {
                            text-align: left;
                            font-weight: bold;
                        }

                        td {
                            color: #2b2b2b;
                            font-size: 16px;
                            line-height: 40px;
                            text-align: center;
                            padding: 10px 0;


                            span {
                                float: left;
                                display: inline-flex;
                                width: 40px;
                                height: 40px;
                                margin-right: 5px;
                                border-radius: 50%;
                            }
                        }
                    }
                }

            }

            .ranking-tab-image {
                display: table;
                width: 100%;
                box-sizing: border-box;
                overflow: hidden;
                padding: 1.5%;

                .ranking-image-item {
                    width: 50%;
                    float: left;
                    padding: 1.5%;

                    .ranking-img-conent {
                        position: relative;
                        border: 1px solid #cccccc;
                        border-radius: 10px;
                        overflow: hidden;
                        box-sizing: border-box;
                        height: 275px;

                        a {
                            text-decoration: none;
                            color: #545454;
                        }

                        &:hover .ranking-img-overlay {
                            visibility: visible;
                            opacity: 1;
                        }

                        .ranking-img-overlay {
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            right: 0;
                            height: 88px;
                            background-color: rgba(255, 255, 255, 0.082);
                            padding: 3%;
                            backdrop-filter: blur(5px);
                            visibility: hidden;
                            opacity: 0;
                            transition: visibility 0s, opacity 0.2s linear;

                        }
                    }
                }
            }
        }

        .ranking-active {
            display: block;
        }
    }

}


/* ranking people end */



.display-block{
    display: block !important;
}