

$main-color-9100ff: #9100ff;
$main-light-a59ac2: #a59ac2;
$dark-2b2b2b:#2b2b2b;
$dark-888888: #888888;
$dark-333333: #333333;
$white:#ffffff;
$white-fon-f9f9f9: #f9f9f9;
$grey1:#a6a7a8;
$grrey2-EFEEF2:#EFEEF2;
$grey-edge-F5F5F5: #F5F5F5;
$index-popup: 999;
$idnex-panel: 70;
$index-header: 90;
$index-minipad:99;
$font-sans:'Open Sans',
sans-serif;
$font-playfair: 'Playfair Display',
serif;
$box-sahdow1: 0 3px 6px rgba(0, 0, 0, 0.1);
$popup-background: rgba(71, 80, 90, 0.3);

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i&display=swap');
@import "../fonts/averta/stylesheet.css";

@import "../libs/bootstrap/scss/bootstrap.scss";
@import "variable.scss";
@import "header.scss";
@import "content.scss";
@import "panels.scss";
@import "register.scss";
@import "contact-us.scss";
@import "about-us.scss";
@import "subscribers.scss";
@import "balance.scss";














// body{
//     font-family: 'Open Sans', sans-serif;
// }



