 /* Large Devices, Wide Screens */

 @media only screen and (max-width: 1200px) {
     .ads-width {
         width: 50% !important;
         height: 200px;
         overflow: hidden;
     }

     .ads-button-content {
         border-top: 1px solid #EFEEF2;
     }

     .right-panel-follwer-item .right-panel-follower-imgae {
         width: 35px !important;
         height: 35px !important;
     }
 }

 @media only screen and (max-width: 1070px) {
     .popup-status-wrapper .popup-status-content .popup-status-item-content .popup-status-item-wrapper .popup-status-item {
         height: 380px;
     }

     .popup-my-profile-edit-overlay .popup-my-profile-edit-top .my-profile-form-wallet-btn {
         width: 30%;

     }

     .popup-my-profile-edit-overlay .popup-my-profile-edit-top .profile-input-adwcash {
         width: 40%;
     }

     .popup-my-profile-edit-overlay .popup-my-profile-edit-top .profile-input-name {
         width: 24%;
     }
 }

 /* Medium Devices, Desktops */

 @media only screen and (max-width: 992px) {
    .popup-my-profile-edit-overlay .popup-my-profile-edit-top{
        padding-bottom: 20px;
    }
     .popup-my-profile-edit-overlay .popup-my-profile-edit-top .my-profile-form-wallet-btn {
         padding: 7px 0;
         font-size: 14px;
     }
     .popup-my-profile-edit-overlay .popup-my-profile-edit-middle{
         display: table;
     }
     .popup-my-profile-edit-overlay .popup-my-profile-edit-middle .popup-my-profile-edit-left{
        width: 100%;
        border-right: none;
        border-bottom: 1px solid #dbdbdb;
        padding: 20px 0;
     }
     .popup-my-profile-edit-overlay .popup-my-profile-edit-middle .popup-my-profile-edit-right{
        width: 100%;
        padding: 20px 0;
     }

     .popup-status-wrapper {
         overflow-y: scroll;
         align-items: flex-start;
     }

     .popup-status-wrapper .popup-status-content .popup-status-item-content .popup-status-item-wrapper {
         width: 50%;

     }

     .bf-form-control {
         width: 100% !important;
     }

     .fixed-panel {
         display: none;
     }

     .panel-left {
         display: block;
         width: 250px;
     }

     .ads-show-all-content .ads-show-all-filtrate .ads-show-all-filter {
         width: 100%;
     }

     .ads-show-all-content .ads-show-all-filtrate .ads-show-all-filter .bootstrap-tagsinput {
         width: 75%;
     }
 }

 @media only screen and (min-width: 810px) {}

 @media only screen and (max-width: 810px) {}


 /* Small Devices, Tablets */

 @media only screen and (max-width: 768px) {
     .header {
         padding: 0 10px;
     }

     .mobile-popup-index-box{
         display: block;
     }
     .data-menu-none {
        display: none !important;
    }
    .mobile-body-scroll-hidden{
        overflow: hidden;
    }
     .panel-left {
         -webkit-box-shadow: 8px 0px 17px -4px rgba(43, 43, 43, 0.3);
         -moz-box-shadow: 8px 0px 17px -4px rgba(43, 43, 43, 0.3);
         box-shadow: 8px 0px 17px -4px rgba(43, 43, 43, 0.3);
     }

     .header-web {
         display: none;

     }

     .header-mobile {
         display: block !important;
     }

     .header .header-icon-panel {
         width: 90%;
     }

     .header .header-icon-panel ul {

         float: none;
         margin: 0 auto;
         text-align: center;
         display: table;
     }

     .popup-friends-content {
         width: 50% !important;
     }

     .profile-follow-list-content .profile-follow-list-tab .profile-requests-item {
         width: 100%;
     }

     .profile-images-tab .profile-images-item {
         width: 50%;
     }

     .ads-show-all-content .ads-show-all-item {
         width: 50%;
     }

     .popup-my-profile-edit-overlay .popup-my-profile-edit-top .my-profile-form-wallet-btn {
         float: none;
         width: 100%;
     }

     .popup-my-profile-edit-overlay .popup-my-profile-edit-top .profile-input-adwcash {
        float: none;
        width: 100%;
     }

     .popup-my-profile-edit-overlay .popup-my-profile-edit-top .profile-input-name {
        float: none;
        width: 100%;

     }

 }

 @media only screen and (max-width: 560px) {
     .ads-show-all-content .ads-show-all-filtrate .ads-show-all-filter .ads-filter-label {
         width: 30%;
     }

     .ads-show-all-content .ads-show-all-filtrate .ads-show-all-filter .bootstrap-tagsinput {
         width: 70%;
     }

     .my-profile-content .profile-top .profile-panel-tab .profile-panel-left {
         float: none;
         display: block;
         width: 100%;
         text-align: center;
         padding-top: 15px;
     }

     .my-profile-content .profile-top .profile-panel-tab .profile-panel-right {
         float: none;
         display: block;
         width: 100%;
         text-align: center;
     }

     .popup-status-wrapper .popup-status-content .popup-status-item-content .popup-status-item-wrapper {
         width: 100%;

     }
     .popup-my-profile-edit-overlay .popup-my-profile-edit-content{
         width: 80%;
     }

     /* .popup-status-wrapper .popup-status-content{
        -ms-transform: translate(-50%, -15%);
        transform: translate(-50%, -15%);
        max-width: 80%;
    } */

 }

 /* Extra Small Devices, Phones */

 @media only screen and (max-width: 480px) {

     .ranking-tab-people {
         overflow: auto;
         width: 100px;
         /* height: 410px; */
         display: flex;
         white-space: nowrap;
     }

     .ranking-tab-earn {
         overflow: auto;
         width: 100px;
         /* height: 410px; */
         display: flex;
         white-space: nowrap;
     }

     .ranking-section .ranking-tablinks .ranking-tab-link {
         font-size: 14px;
     }

     .ranking-section .ranking-tabs .ranking-tab-content .ranking-tab-image .ranking-image-item .ranking-img-conent {

         height: 190px;
     }

     .ranking-section .ranking-tabs .ranking-tab-content .ranking-tab-list .ranking-tab-table tr td {
         width: 180px;
         display: inline-flex;
     }

     .ranking-tab-table {

         width: 100%;
         display: table;

     }

     .ads-width {
         width: 100% !important;
         height: 200px;
         overflow: hidden;
     }

     .ads-button-content {
         border: none;
     }

     .ads-statistic-item {
         border-top: 1px solid #EFEEF2;
         border-bottom: 1px solid #EFEEF2;
     }

     .my-profile-content .profile-top .prfile-information {
         margin-left: 0;
         margin-top: 100px;
         text-align: center;
     }

     .my-profile-content .profile-top .profile-image-big {
         left: 0;
         right: 0;
         margin: 0 auto;
     }

     .profile-followers-tab-content .profile-requests-item .popup-request-item-img-content {
         padding-top: 15px;
         width: 15%;
     }

     .profile-followers-tab-content .profile-requests-item .popup-request-item-content {
         padding-top: 15px;
         width: 50%;
     }

     .profile-followers-tab-content .profile-requests-item .popup-request-button-content {

         width: 35%;
     }

     .profile-images-tab .profile-images-item {
         width: 100%;
     }



     .earn-money-content .earn-money-item {
         width: 100%;
     }

     .ads-show-all-content .ads-show-all-item {
         width: 100%;
     }

 }

 /* Custom, iPhone Retina */

 @media only screen and (max-width: 320px) {
     .popup-friends-content {
         width: 90% !important;
     }


 }